.task {
  margin-top: 20px;
  margin-bottom: 20px;
  display: grid;
  grid-template-areas: 't t b' 'p p b';
  grid-template-columns: 1fr 1fr 130px;
  border: black 1px solid;
  border-radius: 10px;
}

.complete {
  background-color: rgba(0, 256, 0, 0.5);
}

.expired {
  background-color: #e9e9e9;
}

.titleContainer {
  display: grid;
  grid-area: t;
  grid-template-columns: 5fr 1fr;
  border-bottom: 1px solid black;

  span {
    padding: 20px 10px 10px 10px;
    text-align: center;
  }

  h2 {
    padding: 20px 10px 10px 10px;
    border-right: 1px solid black;
    margin: 0;
  }
}

.textContainer {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  grid-area: p;

  p {
    margin-bottom: 0;
  }
}

.buttons {
  grid-area: b;
  display: grid;
  justify-content: right;
  padding: 5px;
  border-left: 1px black solid;

  .button {
    height: 32px;
    margin-bottom: 6px;
    width: 120px;
    background-color: #fff;
    border: 1px solid grey;

    &:hover {
      cursor: pointer;
      color: #40a9ff;
      border-color: #40a9ff;
    }
  }

}

.files {
  display: flex;

  &_block {
    display: flex;
    flex-direction: column;
    margin-bottom: 5px;
  }

  &_delete {
    padding: 2px 5px;
    border-radius: 100%;
    text-align: center;
    font-size: 10px;
    background-color: #fff;
    border: 1px solid grey;
    margin-left: 5px;

    &:hover {
      cursor: pointer;
      color: #40a9ff;
      border-color: #40a9ff;
    }
  }
}

.input_file {
  box-sizing: border-box;
  display: flex;
  margin-bottom: 6px;

  span {
    padding-top: 5px;
    padding-bottom: 5px;
    width: 120px;
    background-color: #fff;
    border: 1px solid grey;
    cursor: pointer;
    outline: none;
    text-decoration: none;
    text-align: center;
    box-sizing: border-box;
  }

  input[type=file] {
    z-index: -1;
    opacity: 0;
    display: block;
    width: 0;
    height: 0;
  }

  &:hover {
    span {
      color: #40a9ff;
      border-color: #40a9ff;
    }
  }
}

.text {
  word-break: break-all;
}

@media (max-width: 468px) {
  .task {
    grid-template-areas: 't t t b' 'p p p b';
  }
  .input_file span{
    width: 75px;
  }
  .buttons{
    width: 80px;
    .button {
      width: 75px
    }
  }
}